body {

}

h1{
	text-align: center;
}

li{
	float: left;
	padding: 15px;
	list-style-type: none;
}

.wrapper{
	width: 900px;
	margin: 0 auto;
}

.nav{
	width: inherit;
	margin: 0 auto;
	padding-bottom: 50px;
	font-size: 30px;
	text-align: center;
}